
NEXT_PUBLIC_SUPABASE_URL=https://vjeqfqbamypjlkxqangr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_6G3BRmSuHvggX7W7TxINiw_BKOlCV3l
SUPABASE_SERVICE_ROLE_KEY=sb_secret_43q3_S8_k8dAIaqcKI8PAA_lJgqg4as

PADDLE_API_KEY=pdl_sdbx_apikey_01kazy13t5p8w67rgydfgc0kfj_XPyJwg0tjNySfZQ3Y3nhBm_AzU
PADDLE_ENVIRONMENT=sandbox
PADDLE_WEBHOOK_SECRET=ntfset_01kb06gzn28b7h87y26mcmbvgp
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=test_4b108ffa60fc90aa5c0dc6af8c0
NEXT_PUBLIC_PADDLE_ENVIRONMENT=sandbox


# Paddle Price IDs (get these from Paddle dashboard)
NEXT_PUBLIC_PADDLE_STARTER_MONTHLY_PRICE_ID=pri_01kazyw5t5pmax8j0np7gwad3k
NEXT_PUBLIC_PADDLE_STARTER_ANNUAL_PRICE_ID=pri_01kazzcxrm348trq4yjadq3gtq
NEXT_PUBLIC_PADDLE_PRO_MONTHLY_PRICE_ID=pri_01kazzff9bv84nvnryrp6cv297
NEXT_PUBLIC_PADDLE_PRO_ANNUAL_PRICE_ID=pri_01kazzhcn1k6ed7znpseyae3vh
NEXT_PUBLIC_PADDLE_ENTERPRISE_MONTHLY_PRICE_ID=pri_01kb0504v5cwqrct1v0qwy1ty0
NEXT_PUBLIC_PADDLE_ENTERPRISE_ANNUAL_PRICE_ID=pri_01kb0599r4k6gvwznt3v0hjkf0


# OpenRouter Configuration
OPENROUTER_API_KEY=OPENROUTER_API_KEY=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
# Application Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000